/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

/* border box */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}


/* flex container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  /* with DISPLAY FLEX the items will take just the space that they need leaving space in the right hand side */
  display: flex;
}

.flex-nav li {
  /* with FLEX = 1, all the items will take the same amount of space */
  /*flex: 1;*/

  /* with FLEX = 3, they will take three times the space of the Social divs */
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}


@media all and (max-width:1000px) {
  /* with the "tablet" we we need the nav to be vertical and divided in two colums */
  .flex-nav ul {
    /* FLEX WRAP will do that, as soon as we give a fix dimention to the items... */
    flex-wrap: wrap;
  }

  .flex-nav li {
    /* ... using the shorthand FLEX */
    flex: 1 1 50%;
  }

  /* the SOCIAL icons should take half of the space of the other items */
  .flex-nav .social {
    flex: 1 1 25%;
  }

}

/* in the mobile view, the items should take all the space */
@media all and (max-width:500px) {
  .flex-nav li {
    flex-basis: 100%;
  }

}